.create{
    display: flex;
    width: 923;
    height: 120;
    background-color: #ffffff;
    border: solid #CDCED2;
    border-radius: 10px;
}
.create p{
    text-align: center;
    color: #81818D;
    margin-left: 10px;
}
.change img{
    justify-content: right;
    width: 40 px;
    height: 40 px;
    border: #543C52 1px;
    border-radius: 190px;
    padding: 10px;
    gap: 10px;
}
.change a{
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 190px;
    /* height: 40px; */
    background-color: #543C52;
    border-radius: 1234px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
.change{
    display: flex;
    width: 800px;
    height: 110px;
    align-items: end;
    justify-content: right;
}

/* .change button{
    margin-top: 20px;
} */