{% extends 'base.html' %}

{% load static %}

{% block title %}
    HOME PAGE
{% endblock title %}


{% block link %}
    <link rel="stylesheet" href="{% static 'home_app/home_app.css' %}">
{% endblock link %}
    

{% block content %}
    {% for post in posts %}
        <div class="posts">
            <div class="user">
                <span class="right">
                    <img src="" alt="user">
                    <h4>{{post.user}}</h4>
                </span>
                <span class="left">
                    <img src="" alt="pidpys">
                    <button>
                        .
                        .
                        .
                    </button>
                </span>
            </div>
            <div class="text">
                <h4>{{post.topic}}</h4>
                <p>{{post.text}}</p>
                <a href="">{{post.link}}</a>
            </div>
            <div class="images">

            </div>
            <div class="info">

            </div>
        </div>
    {% endfor %}
{% endblock content %}
    
