{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block link %}
        {% endblock link %}
    </head>
    <body>
        
        {% block script %}
            
        {% endblock script %}
            

        <header>
            <nav>
                <div class="icon">
                    <img src="" alt="icon">
                    <h1 class="text-icon">WOROLD IT</h1>
                </div >
                <div class="navi">
                    <a href="{% url 'home_app' %}">Головна</a>
                    <a href="{% url 'my_publication' %}">Мої Публікації</a>
                    <a href="{% url 'friends' %}">Друзі</a>
                    <a href="{% url 'chats' %}">Чати</a>
                    <a href="{% url 'acount_set' %}">Налаштування</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button>Вихід</button>
                    </form>
                </div>
            </nav>
        </header>
        <main>
        
        {% if show_profile %}
            <div class="profile">
                <img src="" alt="user_icon">
                <h2>{{username}}</h2>
                <p class="login"></p>
                <div class="profile_inf">
                    <div class="amout_of_posts">
                        <h2>0</h2>
                        <p>Дописи</p>
                    </div>
                    <div class="sub">
                        <h2>0</h2>
                        <p>Читачі</p>
                    </div>
                    <div class="friends">
                        <h2>0</h2>
                        <p>Друзі</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="content">
            {% block content %}

            {% endblock %}        
        </div>
        
        <!-- <form action="">
            <h2>Додай деталі про себе</h2>
            <label for="name">Ім'я</label>
            <input type="text" class="name" placeholder="Введіть Ваше ім'я">
            <label for="last_name">Прізвище</label>
            <input type="text" class="last_name" placeholder="Введіть Ваше прізвище"> 
            <label for="login">Ім'я користувача</label>
            <input type="text" class="login" placeholder="@">
            <button>Продовжити</button>
        </form> -->
        {% if show_modal %}
            <div class="background">
                <div class="modal">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h2>Додай деталі про себе</h2>
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="form-error">{{ field.errors }}</div>
                            {% endif %}
                        {% endfor %}
                        <button>Продовжити</button>
                    </form>
                </div>
            </div>
        {% endif %}
        </main>
    </body>
</html>