{% extends 'base.html' %}
{% load static %}

{% block title %}
    REGISTER PAGE
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'signup/signup.css' %}">
{% endblock link %}

{% block content %}
    <div class="con">
        <div class="links">
            <a href="" class="now">Реєстрація</a>
            <a href="" class="another">Авторизація</a>
        </div>
        <h3>Приєднуйтесь до World IT</h3>
        {% csrf_token %}
        <div class="inputs">
            <label for="email">Електронна пошта</label>
            <input type="email" class="email" placeholder="you@example.com">

            <label for="password">Пароль</label>
            <input type="password" class="password" placeholder="Введи пароль">

            <label for="confirm_password">Підтведи пароль</label>
            <input type="password" class="confirm_password" placeholder="Повтори пароль">
            
        </div>
        <button type="submit">Створити акаунт</button>
    </div>
{% endblock content %}
    
    
    