{% extends 'base.html' %}
{% load static %}

{% block title %}
    LOGIN PAGE
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="">
{% endblock link %}

{% block content %}
    <div class="con">
        <a href=""></a>
        <a href=""></a>
        <h3></h3>
        <div class="inputs">
            {% csrf_token %}
            <input type="text">
            <input type="text">
            <button></button>
        </div>
        <p></p>
        <img src="" alt="qrcode">
    </div>
{% endblock content %}
    
    
    